{% extends "base.html.j2" %}

{% block container %}
<nav class="mb-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../../">Martin Ueding</a></li>
        <li class="breadcrumb-item"><a href="../">{{ gallery_title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
    </ol>
</nav>

<h1 class="mb-3">{{ title }}</h1>

{{ description | safe }}

{% macro image_grid(these_images, rating, columns) %}
<div class="row {{ columns }} g-4 mb-3">
    {% for image in these_images %}
    <div class="col">
        <a href="large/{{ image.filename }}" class="glightbox"
            data-glightbox="title: {{ image.title|e }}; description: .custom-desc-{{ rating }}-{{ loop.index }}; descPosition: right;">
            <div class="img-hover-zoom">
                <img src="small/{{ image.filename }}" class="card-img-top" />
            </div>
        </a>

        <div class="glightbox-desc custom-desc-{{ rating }}-{{ loop.index }}">
            {{ image.description | safe }}

            <dl>
                {% for key in ["Datum", "Zeichenpapier", "Stifte", "Kamera"] %}
                {% if image.tags[key] %}
                <dt>{{ key }}</dt>
                {% for element in image.tags[key] %}
                <dd>{{ element|safe }}</dd>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </dl>
        </div>
    </div>
    {% endfor %}
</div>
{% endmacro %}

{{ image_grid(images, 5, 'row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4') }}

{% if other_images %}
{{ image_grid(other_images, 3, 'row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6') }}
{% endif %}

<script type="text/javascript">
    const lightbox = GLightbox();
</script>
{% endblock %}