{% extends "base.html.j2" %}

{% block container %}
<nav class="mb-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../">Martin Ueding</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
    </ol>
</nav>

<h1 class="mb-3">{{ title }}</h1>

{{ description | safe }}

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
    {% for gallery in galleries %}
    <div class="col">
        <div class="card">
            <a href="{{ gallery.directory }}/">
                <div class="img-hover-zoom">
                    <img src="{{ gallery.directory }}/small/{{ gallery.preview }}" class="card-img-top" />
                </div>
            </a>
            <div class="card-body">
                <a href="{{ gallery.directory }}/">
                    <h5 class="card-title" style="text-align: center;">{{ gallery.title }}</h5>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}