{% extends "base.html.j2" %}

{% block container %}
<nav class="mb-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../../">Martin Ueding</a></li>
        <li class="breadcrumb-item"><a href="../">{{ gallery_title }}</a></li>
        <li class="breadcrumb-item"><a href="./">{{ title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ image.title|e }}</li>
    </ol>
</nav>

<div class="mb-3">
    <img src="large/{{ image.filename }}" style="max-height: 95vh; max-width: 100%;" />
</div>

<h1 class="mb-3">{{ image.title|e }}</h1>

<div class="row mb-3">
    <div class="col-md-8">
        {{ image.description | safe }}
    </div>

    <div class="col-md-4">
        <dl>
            {% for key in ["Datum", "Zeichenpapier", "Stifte", "Kamera", "Digitalisierung"] %}
            {% if image.tags[key] %}
            <dt>{{ key }}</dt>
            {% for element in image.tags[key] %}
            <dd>{{ element|safe }}</dd>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </dl>
    </div>
</div>
{% endblock %}